@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* font-family: 'Kumbh Sans', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Verydarkdesaturatedblue :hsl(229, 23%, 23%);
    --Darkgrayishblue :hsl(227, 10%, 46%);
}
body{
    background-image: url(images/bg-pattern-top.svg) , url(images/bg-pattern-bottom.svg) ;
    background-repeat: no-repeat;
    background-position: -50% -50% ,150% 130% ;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
}
main{
    background-image: url(images/bg-pattern-card.svg);
    background-color: white;
    background-size:100% 40%;
    background-repeat: no-repeat;
    width:22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  1rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.img img{
    border: 10px solid white;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    margin: 6rem 0 0 0;
}
h3{
    color:var(--Verydarkdesaturatedblue);
}
p{
    color: var(--Darkgrayishblue);
}
span{
    display: inline-block;
    padding: 0 0.8rem 0 0;
    color: var(--Verydarkdesaturatedblue);
    font-weight: 700;
    font-size: 1.1rem;
}
.wrapper{
    display:flex;
    justify-content: space-between;
    width: 80%;
    margin: 1rem 0 0 0;
}
.hr{
    border-top: 0.001rem solid hsla(227, 10%, 46%, 0.357);
    width: 100%;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 2.1rem 0;
}
@media(max-width:450px){
    main{
        width: 75%;
    }
    
}